@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200&display=swap");
.margin {
  max-width: calc(100% - 100px);
}

.js-yellow {
  color: #efd81d;
}

.lara-red {
  color: #f72c1f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "nunito", sans-serif;
  overflow: none;
}

.line-1 {
  position: absolute;
  display: block;
  background-color: white;
  top: -20px;
  left: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.line-1-black {
  position: absolute;
  display: block;
  background-color: black;
  top: -20px;
  left: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.line-2 {
  position: absolute;
  display: block;
  background-color: white;
  bottom: -20px;
  right: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.line-2-black {
  position: absolute;
  display: block;
  background-color: black;
  bottom: -20px;
  right: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.about-me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me__title {
  font-size: 3rem;
}

.about-me__subtitle {
  margin: 1rem 0;
  font-size: 2rem;
}

.about-me__socials {
  font-size: 3rem;
  margin: 1rem 0.5rem;
}

.about-me__socials a {
  color: white;
  text-decoration: none;
}

.about-me__socials a:hover {
  text-decoration: none;
}

.about-me__socials > * {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about-me__socials > *:hover {
  color: blueviolet;
}

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.about-img img {
  max-height: 70vh;
  width: auto;
  -webkit-clip-path: circle(60%);
          clip-path: circle(60%);
  -webkit-box-shadow: 0 0 1rem white;
          box-shadow: 0 0 1rem white;
}

.skills {
  height: 100vh;
  width: 100%;
  background-color: violet;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
  height: 100%;
}

.skills-container-text {
  width: 40%;
  margin-left: 5rem;
}

.skills-container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  font-size: 3rem;
}

.skills-container__box__skill-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
  margin-left: 10rem;
}

.skills-container__box__skill-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
  margin-right: 10rem;
}

.skills-container__box .css {
  color: black;
}

.skills-container__box .css:hover {
  color: #0d75bb;
}

.skills-container__box .js {
  color: black;
}

.skills-container__box .js:hover {
  color: #efd81d;
}

.skills-container__box .php {
  color: black;
}

.skills-container__box .php:hover {
  color: #777bb3;
}
/*# sourceMappingURL=master.css.map */