@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200&display=swap");
.margin {
  max-width: calc(100% - 100px);
}

.js-yellow {
  color: #efd81d;
}

.lara-red {
  color: #f72c1f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "nunito", sans-serif;
  overflow: none;
}

.line-1 {
  position: absolute;
  display: block;
  background-color: white;
  top: -20px;
  left: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.line-1-black {
  position: absolute;
  display: block;
  background-color: black;
  top: -20px;
  left: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.line-2 {
  position: absolute;
  display: block;
  background-color: white;
  bottom: -20px;
  right: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.line-2-black {
  position: absolute;
  display: block;
  background-color: black;
  bottom: -20px;
  right: -20px;
  height: 5px;
  width: calc(100% + 40px);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.about-me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me__title {
  font-size: 3rem;
}

.about-me__subtitle {
  margin: 1rem 0;
  font-size: 2rem;
}

.about-me__socials {
  font-size: 3rem;
  margin: 1rem 0.5rem;
}

.about-me__socials a {
  color: white;
  text-decoration: none;
}

.about-me__socials a:hover {
  text-decoration: none;
}

.about-me__socials > * {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about-me__socials > *:hover {
  color: blueviolet;
}

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.about-img img {
  max-height: 70vh;
  width: auto;
  -webkit-clip-path: circle(60%);
          clip-path: circle(60%);
  -webkit-box-shadow: 0 0 1rem white;
          box-shadow: 0 0 1rem white;
}

.skills {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: violet;
}

.skills-arrow {
  position: absolute;
  right: 20%;
  top: 10%;
  z-index: 1;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
  height: 100%;
  z-index: 2;
}

.skills-container-text {
  width: 40%;
  margin-left: 5rem;
  z-index: 2;
}

.skills-container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  font-size: 3rem;
  z-index: 2;
}

.skills-container__box__skill-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
  margin-left: 10rem;
}

.skills-container__box__skill-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  margin-right: 10rem;
}

.skills-container__box .css {
  color: black;
}

.skills-container__box .css:hover {
  color: #0d75bb;
}

.skills-container__box .js {
  color: black;
}

.skills-container__box .js:hover {
  color: #efd81d;
}

.skills-container__box .php {
  color: black;
}

.skills-container__box .php:hover {
  color: #777bb3;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #0492C2;
  overflow-x: hidden;
}

.projects .project {
  height: 100vh;
  width: 100%;
}

.projects-text {
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
}

.projects-text__title {
  font-size: 3rem;
}

.projects-text__content {
  font-size: 1rem;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem;
}

.projects-container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-container__box img {
  height: 300px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-images-1 {
  width: calc(100px - 20px);
  height: 10px/3;
  margin-left: 3rem;
}

.projects-images-2 {
  width: calc(200px - 20px);
  height: 20px/3;
  margin-left: 3rem;
}

.projects-images-3 {
  width: calc(300px - 20px);
  height: 30px/3;
  margin-left: 3rem;
}

.projects-images-4 {
  width: calc(400px - 20px);
  height: 40px/3;
  margin-left: 3rem;
}

.projects-images-5 {
  height: 300px;
  width: auto;
  margin-left: 3rem;
}

.see-link {
  text-decoration: none;
}

.see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  text-decoration: none;
  position: relative;
  font-size: 14px;
  color: whitesmoke;
  background-color: #05b8f4;
  padding: 14px 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
}

.see-more div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  background-color: #02475e;
  -webkit-animation: rippleEffect 1s linear infinite;
          animation: rippleEffect 1s linear infinite;
}

@-webkit-keyframes rippleEffect {
  from {
    width: 0;
    height: 0;
    opacity: .7;
  }
  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes rippleEffect {
  from {
    width: 0;
    height: 0;
    opacity: .7;
  }
  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
/*# sourceMappingURL=master.css.map */