* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito", sans-serif;
    overflow: none;
}

.line {
    &-1 {
        position: absolute;
        display: block;
        background-color: white;
        top: -20px;
        left: -20px;
        height: 5px;
        width: calc(100% + 40px);

        &-black {
            position: absolute;
            display: block;
            background-color: black;
            top: -20px;
            left: -20px;
            border: 2px solid black;
            height: 5px;
            width: calc(100% + 40px);
        }
    }


    &-2 {
        position: absolute;
        display: block;
        background-color: white;
        bottom: -20px;
        right: -20px;
        height: 5px;
        width: calc(100% + 40px);

        &-black {
            position: absolute;
            display: block;
            background-color: black;
            bottom: -20px;
            right: -20px;
            border: 2px solid black;
            height: 5px;
            width: calc(100% + 40px);
        }

    }
}

.about {
    display: flex;  
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    max-width: 100%;
    overflow: none;
    flex-wrap: wrap;
    

    &-me {  
        position: relative;
        display: flex;
        flex-direction: column;
        
        &__title {
            font-size: 3rem;

        }

        &__subtitle {   
            margin: 1rem 0;
            font-size: 2rem;

        }

        &__socials {
            font-size: 3rem;
            margin: 1rem 0.5rem;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            & >* {
                transition: 0.3s ease-in-out;

                &:hover {
                    color: blueviolet;
                }
            }
        }
    }

    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem;
        
        img {
            max-height: 70vh;
            width: auto;
            clip-path: circle(60%);
            box-shadow: 0 0 1rem white; 

        }

    }

}