.projects {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #0492C2;

    &-text {
        &__title {
            padding-top: 3rem;   
            font-size: 3rem;
            text-align: center;
            margin-bottom: 5rem;
        }

        &__content {
            font-size: 1rem;
            text-align: center;
        }
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        column-count: 3;
        justify-content: space-between;
        margin-top: 3rem;

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: 300px;
                width: 400px;
                object-fit: cover;
            }
        }
    }
}