.projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  background-color: #0492C2;

  .project {
      height: 100%;
      width: 100%;
    }


  &-text {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
    
    &__title {
        font-size: 3rem;
    }

    &__content {
        font-size: 1rem;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    justify-content: space-between;
    margin: 3rem;

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        height: 300px;
        width: 400px;
        object-fit: cover;
      }
    }
  }

  &-images {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    @for $i from 1 through 4 {
    &-#{$i} {
      width: calc(#{$i}00px - 20px);
        height: #{$i}00px / 3;
        margin-left: 3rem;
        
      }
    }

    &-5 {
      height: 300px;
      width: auto;
      margin-left: 3rem;
    }

    
    &-pong {
      width: auto;
      height: 70%;
      margin: 0 auto;
    }
  }


  
}

.see {
  
  &-buttons {
    display: flex;
  }

  &-link {
    text-decoration: none;

  }

  &-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    color: whitesmoke;
    background-color: lighten(#0492C2, 10%);
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    margin-right:2rem;

    div {
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50%;
      background-color: darken(#0492C2, 20%);
      animation: rippleEffect 1s linear infinite;
    }
  }

  @keyframes rippleEffect {
    from {
      width: 0;
      height: 0;
      opacity: .7;
    }
    to {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}