@media (max-width: 1200px) {
    .margin {
        width: calc(100% - 50px);
    }
}

@media (max-width: 980px)  {
    .margin {
        width: calc(100% - 30px);
    }

    .line {
        &-1 {
            display: none;

            &-black {
                display: none;
            }
        }

        &-2 {
           width: calc(100% - 40px);
           left: 50%;
           transform: translateX(-50%);

            &-black {
                display: none;
            }
        }
    }

    .about {
        height: 200%;

        &-me {
            padding-top: 2rem;
        }
        &-img {
            margin: 2rem;
            transform: scale(1);
            z-index: 5;
        }
    }

    .skills {
        height: 100%;

        &-container {
    
            &-text {
                display: flex;
                flex-direction: column;
                margin: 1rem;
            }

            &__box {
                padding-bottom: 5rem;
            }
        }
    }

    .projects {

        .project {
            height: 100%;
        }

        &-text {
            width: 80%;

            &__title {
                font-size: 1.5rem;
            }

            &__content {
                font-size: 0.8rem;
            }
        }

        &-images {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .margin {
        width: calc(100% - 15px);
    }

    .about {
        flex-direction: column;

        &-me {
            padding: 2rem;
        }
    }

    .skills {    

        &-container {
            padding: 1rem;
            display: flex;
            justify-content: center;

                
            &-text {
                display: flex;
                justify-content: center;
                text-align: center;
                width: 100%;
            }

            &__box {
                padding: 1rem;
                align-items: center;
            }
        }

        &-arrow {
            display: none;

        }
    }

    .see-more {
        margin: 1rem 0;
    } 

}

@media (max-width: 480px) {
    .margin {
        width: 100%;
    }

    .about {
        &-image {
            margin: 0;
        }
    }
}