.skills {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: violet;

    &-arrow {
        position: absolute;
        right: 20%;
        top: 10%;
        z-index: 1;
        transform: scale(0.6);
    }


    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto auto;
        height: 100%;
        z-index: 2;

        &-text {
            width: 40%;
            margin-left: 5rem;
            z-index: 2;
        }

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 50%;
            font-size: 3rem;
            z-index: 2;

            &__skill-left {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                margin-bottom: 1rem;
                margin-left:10rem;
            }

            &__skill-right {
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                margin-bottom: 1rem;
                margin-right:10rem;
            }

            .css {
                color: black;
                
                &:hover {
                   color: $css-blue;
                }
            }

            .js {
                color: black;
                
                &:hover {
                   color: $js-yellow;
                }
            }


            .php {
                color: black;
                
                &:hover {
                   color: $php-purple;
                }
            }
        }
    }
}