//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200&display=swap');

//margins
.margin {
    width: calc(100% - 100px);
    height: 100%;
}

//colors
.js-yellow {
    color: #efd81d;
}
.lara-red {
    color: #f72c1f;
}

$html-red: #dd4b25;
$css-blue: #0d75bb;
$bs-purple: #7610f1;
$js-yellow: #efd81d;
$npm-red: #cb3837;
$php-purple: #777bb3;
$lara-red: #f72c1f;

//maybe for refactor later
$icons: html, css, bs, js, npm, php, lara;